.inputBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.inputLabel {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 4px 0;
}

.inputWrapper {
  flex-grow: 1;
  display: flex;
  margin: 4px 0;
}